.plot-card {
  transition: all 0.3s;
  margin: 10px 0;
}

.card-panel {
  margin: -8px -7px 0 10px;
}

.panel-title {
  font-size: 30px;
  margin-top: 12px;
  margin-left: -7px;
}

.card-tools > .btn:hover,
.card-tools > .btn:focus,
.card-tools > .btn:active {
  background: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.card-tools > .btn:hover > img,
.card-tools > .btn:active > img {
  transform: scale(0.8);
}

.card-tools > .btn {
  background-color: transparent;
  margin-left: -30px;
}

.card-tools > .btn > img {
  transform: scale(0.6);
  transition: all 0.5s;
}

#plots-col {
  transition: all 0.3s;
}

.plot-buttons {
  margin: 0 20px;
}

.selectize-input {
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 5px rgb(220, 220, 220);
}

.selectize-input.dropdown-active {
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 3px rgb(230, 230, 230);
}

.selectize-input:active, .selectize-input:active:focus {
  border: none !important;
}
